.App {
  background-image: url("/Users/megan/Desktop/react-weather-project/src/clouds.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App footer {
  margin: 10px 0;
  font-family: var(--font-2);
  font-size: 15px;
  text-align: center;
}
