.Search {
  max-width: 800px;
  margin: 30px auto;
}

.Search form {
  background-color: #f1f4f2;
  opacity: 0.9;
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  margin: 10px;
  font-size: 20px;
  width: 50%;
}
.Search input,
button {
  border: none;
  outline: none;
  justify-content: center;
  padding: 10px;
}

.Search input {
  color: var(--mauve);
  background-color: #f1f4f2;
  width: 85%;
}

.Search input::placeholder {
  color: var(--dark-blue);
}

.Search button {
  float: right;
  background-color: transparent;
}

.Search button:hover {
  transform: scale(1.5);
}

.Search .forecast {
  background-color: rgba(241, 244, 242, .5);
  border-radius: 30px;
  padding: 16px;
}

.Search h1 {
  font-family: var(--font-1);
  font-weight: 700;
  color: var(--dark-blue);
}

.Search ul {
  margin: 0;
  padding: 0;
}

.Search li {
  font-family: var(--font-2);
  color: var(--dark-blue);
  list-style: none;
}
